<header class="header">
    <nav>
        <h1>Logo</h1>
        <ul class="nav">
            <li class="nav-links"><a routerLink="/client" routerLinkActive="active">Client</a></li>
            <li class="nav-links"><a routerLink="/client" routerLinkActive="active">Condition</a></li>
            <li class="nav-links"><a routerLink="/client" routerLinkActive="active">Gifts</a></li>
            <li class="nav-links"><a class="a-btn logout" (click)="logOut()">Log&nbsp;Out</a></li>
        </ul>
    </nav>
</header>