.signin{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 40%;
    overflow: hidden;
}
.signin-form{
    padding: 2.5rem;
    background: var(--light-yellow);
    border-radius: 50px;
    background: var(--light-blue);
}
.signin form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}
.signin h1{
    font-family: 'Lobster', cursive;
    font-size: 88px;
    margin: 2rem 0;
    color: var(--primary-color);
    position: relative;
    z-index: 2;
    text-shadow: -4px 4px 0 rgb(0, 0, 0);
}
/* .signin .form-control{
    display: flex;
    width: 100%;
    margin: 1rem 0;
} */
/* .signin .form-control input{
    width: 100%;
    border-radius: 0 10px 10px 0;
}
.signin .input-icon{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background: var(--primary-color);
    border-radius: 10px 0 0 10px;
} */
.signin .input-icon svg{
    width: 36px;
    height: 36px;
}

.signin .btn-div{
    margin-top: 2rem;
    width: 100%;
}
.signin .btn-div button{
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: 500;
}
