<div class="add-client">
  <form [formGroup]="addClientForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="firstname">firstname</label>
      <input type="text" id="firstname" formControlName="firstname" name="firstname" />
    </div>
    <div>
      <label for="lastname">lastname</label>
      <input type="text" id="lastname" formControlName="lastname" name="lastname" />
    </div>
    <div>
      <label for="mail">mail</label>
      <input type="text" id="mail" formControlName="mail" name="mail" />
    </div>
    <div>
      <label for="password">password</label>
      <input type="text" id="password" formControlName="password" name="password" />
    </div>
    <div>
      <label for="sponsorID">Sponsor</label>
      <!-- <div class="for" *ngFor="let client of clients" name="sponsorID" id="sponsorID" formControlName="sponsorID"
        name="sponsorID">
        {{client.firstname}}
      </div> -->
      <select name="sponsorID" id="sponsorID" formControlName="sponsorID">
        <option *ngFor="let client of clients" [value]="client.clientID">{{client.lastname + " " + client.firstname}}
        </option>
      </select>
    </div>
    <div>
      <button [disabled]="addClientForm.invalid">add</button>
    </div>
  </form>
</div>